@tailwind base;
@tailwind components;
@tailwind utilities;

.green {
  @apply bg-[#0c7d69] focus:bg-[#155e50] hover:bg-[#155e50];
}

.text-green {
  @apply text-[#0c7d69];
}

.border-custom {
  @apply border-2 outline-none hover:border-[#0c7d69] focus:border-[#0c7d69] border-gray-500 ring-0;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/Karla-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "MyCustomFont";
  src: url("/fonts/static/Karla-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
